.logo {
  display: block;
  max-width: 240px;
  margin: 0px auto;
  padding: 40px 0;
}

.h1-texto h1 {
  text-align: center;
  color: #ededed;
  text-transform: uppercase;
  max-width: 560px;
  font-size: 1.5rem;
  margin: 0 auto 12px auto;
}

.warning p {
  margin: 0 auto 20px auto;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  color: #ededed;
}

.warning {
  max-height: 0;
}

.warning.ativo {
  max-height: initial;
}

.aviso1,
.aviso2 {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 1s ease, max-height 1s ease;
}

.aviso-ativo {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}

.aviso2 {
  -webkit-animation: blink-2 0.9s infinite both;
  animation: blink-2 0.9s infinite both;
}

@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.steps-box {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 60px;
  margin: 24px auto 32px auto;
}

.steps-box li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
  width: 133px;
}

.steps-box::after {
  content: "";
  position: absolute;
  width: 370px;
  height: 12px;
  display: block;
  background-color: #ededed;
  top: 16%;
  left: 34%;
  z-index: -1000;
}
.steps {
  background-color: #ededed;
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: inherit;
  text-align: center;
}

.steps-text {
  font-size: 1rem;
  font-weight: 600;
  color: #ededed;
  max-width: 10ch;
  line-height: 1.2em;
  text-align: center;
  overflow-y: hidden;
}

.roleta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.roleta {
  display: block;
  transition: 12s cubic-bezier(0.33, 1, 0.68, 1);
  max-width: 440px;
}

.roleta-img-container {
  position: relative;
  overflow-y: hidden;
}

.roleta-img-container::after {
  content: "";
  background-color: #02fb04;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 34px;
  height: 21px;
  position: absolute;
  top: 40%;
  right: 47%;
  display: block;
}

.roleta-img-container::before {
  content: "";
  background: linear-gradient(180deg, #00ff04 0%, #008002 103.57%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 43%;
  right: 44%;
  display: block;
  z-index: 1000;
}

.giro1 {
  rotate: 2070deg;
}
/*1930deg*/
.giro2 {
  rotate: 4090deg;
}

.giro3 {
  rotate: 2730deg;
}

.giro4 {
  rotate: 3240deg;
}

@media (max-width: 1024px) {
  .steps-box::after {
    left: 31%;
  }
}

@media (max-width: 800px) {
  .steps-box::after {
    width: 390px;
    left: 23%;
  }
}
@media (max-width: 450px) {
  .logo {
    max-width: 160px;
    padding: 32px 0;
  }
  .h1-texto h1 {
    font-size: 1.5rem;
  }
  /* .h1-texto h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
  } */
  .steps-box {
    gap: 24px;
    margin: 20px auto;
  }
  .steps-box::after {
    width: 280px;
    left: 12%;
  }
  .steps-box li {
    gap: 12px;
  }
  .steps-text {
    font-size: 1rem;
  }

  .roleta {
    max-width: 320px;
  }
  .roleta-img-container::before {
    right: 43%;
    width: 56px;
    height: 56px;
  }
  .roleta-img-container::after {
    right: 46%;
  }
}

@media (max-width: 374px) {
  .roleta {
    max-width: 320px;
  }
  .roleta-img-container::before {
    right: 42%;
  }
  .roleta-img-container::after {
    right: 45%;
  }
}

@media (max-width: 360px) {
  .steps-box::after {
    left: 10%;
  }
}
@media (max-width: 320px) {
  .logo {
    padding: 24px 0;
  }
  .h1-texto h1 {
    font-size: 1.25rem;
  }
  .roleta {
    max-width: 260px;
  }
  .steps-box {
    gap: 10px;
  }
  .steps-box::after {
    width: 220px;
  }
  .steps-text {
    font-size: 1rem;
  }
  .roleta-img-container::before {
    right: 42%;
    width: 42px;
    height: 42px;
  }
  .roleta-img-container::after {
    right: 43%;
  }
  .roleta-container button {
    margin-top: 12px;
    font-size: 1rem;
  }
}
