.logo {
  display: block;
  max-width: 240px;
  margin: 0px auto;
  padding: 40px 0;
}

.h1-texto h1 {
  text-align: center;
  color: #ededed;
  text-transform: uppercase;
  max-width: 560px;
  font-size: 1.5rem;
  margin: 0 auto 12px auto;
}

.h1-texto h2 {
  text-align: center;
  margin: 0 auto 32px auto;
  color: #ededed;
  display: block;
  font-size: 2rem;
  text-transform: uppercase;
}

.h1-texto p {
  margin: 0 auto 60px auto;
  text-align: center;
  font-size: 1.5rem;
  color: #fff;
}

.roleta-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.roleta {
  display: block;
  transition: 12s cubic-bezier(0.33, 1, 0.68, 1);
  max-width: 440px;
}

.roleta-img-container {
  position: relative;
}

.roleta-img-container::after {
  content: "";
  background-color: #02fb04;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  width: 34px;
  height: 21px;
  position: absolute;
  top: 40%;
  right: 47%;
  display: block;
}

.roleta-img-container::before {
  content: "";
  background: linear-gradient(180deg, #00ff04 0%, #008002 103.57%);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 43%;
  right: 44%;
  display: block;
  z-index: 1000;
}

/* R$20 */
.giro1 {
  rotate: 940deg;
}

/* R$1111 */
.giro2 {
  rotate: 1890deg;
}

/* R$50 */
.giro3 {
  rotate: 2730deg;
}

/* R$600 */
.giro4 {
  rotate: 3240deg;
}

@media (max-width: 450px) {
  .logo {
    max-width: 160px;
    padding: 32px 0;
  }
  .h1-texto h1 {
    font-size: 1.25rem;
  }
  .h1-texto h2 {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
  .roleta {
    max-width: 320px;
  }
  .roleta-img-container::before {
    right: 43%;
    width: 56px;
    height: 56px;
  }
  .roleta-img-container::after {
    right: 46%;
  }
}

@media (max-width: 374px) {
  .roleta {
    max-width: 320px;
  }
  .roleta-img-container::before {
    right: 42%;
  }
  .roleta-img-container::after {
    right: 45%;
  }
}
